:root {
	--color-background: rgb(248, 248, 248);
	--color-menu: #F7F7F7;
	--color-menu-hover: #FCFCFC;
	--color-menu-text-hover: #000000;
	--color-border: #E4E4E4;
	--color-box: #FCFCFC;
	--color-box2: #F7F7F7;
	--color-box2-hover: #D0D0D0;
	--color-footer-bg: #686868;
	--color-border-type: #solid;

}