body {
	background-color: var(--color-background);
	margin: 8px auto 8px auto;
	
	width: 70%;
	max-width: 960px;
}

.hidden {
	display: none;
}

.box {
	background-color: var(--color-box);
	margin: 16px 0;
	border: 2px solid var(--color-border);
	padding: 20px;
}
.box2 {
	background-color: var(--color-box2);
	margin: 20px 20px;
	padding: 20px;
	border: 2px solid var(--color-border);
}
.box2:hover {
	background-color: var(--color-box2-hover);
}
.box3 {
	background-color: var(--color-box2);
	margin: 20px 20px;
	padding: 20px;
	border: 2px solid var(--color-border);
}
.box2 img{
	width: 80%;
}


.flex2, .flex, .flex3 {
	display: flex;
}
.flex2 a, .flex2 div, .flex3 a, .flex3 div {
	color: inherit;
	text-decoration: inherit;
}
.flex2 a, .flex2 div {
	width: 50%;
}
.flex3 a, .flex3 div {
	width: 33%;
}


.flex2 .leftForm {
	flex: 0 0 30%;
}
.flex2 .rightForm {
	flex: 1;
}

