:root {
	--color-background: #ffffff;
	--color-menu: #f7f7f7;
	--color-menu-hover: #fcfcfc;
	--color-menu-text-hover: #000000;
	--color-border: #000000;
	--color-box: #fcfcfc;
	--color-box2: #f7f7f7;
	--color-box2-hover: #d0d0d0;
}